bin/
obj/
*.dll
*.exe
bin/Debug/net7.0/Cartful.Service.dll
obj/Debug/net7.0/Cartful.Service.assets.cache
obj/Debug/net7.0/Cartful.Service.GeneratedMSBuildEditorConfig.editorconfig
bin/Debug/net7.0/Cartful.Service.dll
